<!-- home.component.html -->
<header class="bg-primary text-white text-center py-5">
  <h1 class="display-4">Wycieczka do miasta {{TripData.name}}, {{TripData.country}}</h1>
</header>

<main class="min-vh-100">
  <section id="business-card" class="container my-5">
    <div class="row">
      <div class="col-md-4">
        <img src="assets/logo.png" alt="Logo Biura Turystycznego" class="img-fluid rounded">
      </div>
      <div class="col-md-8">
        <div class="card">
          <div class="card-body">
            <p class="card-text">
              Opis wycieczki: {{TripData.description}}
            </p>
            <p class="card-text">
              <strong>Termin:</strong> {{TripData.startDate}} - {{TripData.endDate}}
            </p>
            <p class="card-text">
              <strong>Cena:</strong>  {{ TripData.unitPrice * currencyRate | currency: currency }}
            </p>
            <p class="card-text">
              <strong>Pozostało miejsc:</strong> {{TripData.maxCapacity - TripData.reservedCapacity - TripData.yourReservations}}
            </p>
            <div>
              <div>
                <button class="btn btn-primary"
                        [disabled]="TripData.maxCapacity - TripData.reservedCapacity - TripData.yourReservations === 0"
                        (click)="reserveSpot(TripData.id)">Zarezerwuj</button>
              </div>
              <div>
                <button class="btn btn-danger"
                        [disabled]="TripData.yourReservations === 0"
                        (click)="cancelReservation(TripData.id)">Anuluj rezerwację</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="map" class="container my-5 d-flex justify-content-center align-items-center">
    <div class="embed-responsive embed-responsive-16by9">
      <!-- Osadź mapę z Google Maps - zastąp poniższy kod swoim kodem do osadzania mapy -->
      <iframe
        class="embed-responsive-item"
        loading="lazy"
        allowfullscreen
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2443.626742821031!2d21.012710315787!3d52.22967597976056!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd159a7b0d1a0a5f%3A0x4d8c6d4d7c4e4e0!2sWarsaw%20University%20of%20Technology!5e0!3m2!1sen!2spl!4v1622128970569!5m2!1sen!2spl"
        width="800"
        height="600"
      ></iframe>
    </div>
  </section>



</main>
