<nav class="navbar navbar-expand-lg navbar-light bg-light px-2">
  <a routerLink="/" routerLinkActive="active" class="navbar-brand">
    <button class="btn btn-primary">
      Homepage
    </button>
  </a>
  <a routerLink="/tripsList" routerLinkActive="active" class="navbar-brand">
    <button class="btn btn-primary">
      Trips
    </button>
  </a>
  <a routerLink="/tripForm" routerLinkActive="active" class="navbar-brand">
    <button class="btn btn-primary">
      Add new trip
    </button>
  </a>
  <a routerLink="/checkout" routerLinkActive="active" class="navbar-brand">
    <button class="btn btn-primary">
      Checkout
    </button>
  </a>
  <a routerLink="/history" routerLinkActive="active" class="navbar-brand">
    <button class="btn btn-primary">
      History
    </button>
  </a>
  <app-checkout-button></app-checkout-button>
</nav>


<router-outlet></router-outlet>
